:root {
  --base: #f26a57;
  --black: #453d3c;
  --gray0: #faf9f8;
  --gray1: #f0ecec;
  --gray2: #e5dfde;
  --gray3: #dad0cf;
  --gray4: #cdc1bf;
  --gray5: #bfafad;
  --gray6: #af9b98;
  --gray7: #968582;
  --gray8: #766967;
  --gray9: #453d3c;
  --red0: #fdeeec;
  --red1: #fbdbd7;
  --red2: #fac6bf;
  --red3: #f8aea4;
  --red4: #f59083;
  --red5: #f26957;
  --red6: #da5e4e;
  --red7: #bf5344;
  --red8: #9e4439;
  --red9: #713128;
  --orange0: #fdf5e8;
  --orange1: #fbead0;
  --orange2: #f9dfb5;
  --orange3: #f7d399;
  --orange4: #f4c67a;
  --orange5: #f2b757;
  --orange6: #daa54e;
  --orange7: #c09145;
  --orange8: #9f7839;
  --orange9: #735729;
  --yellow0: #fafde7;
  --yellow1: #f6fbcf;
  --yellow2: #f1f9b5;
  --yellow3: #ecf798;
  --yellow4: #e6f479;
  --yellow5: #e0f257;
  --yellow6: #cadb4e;
  --yellow7: #b2c045;
  --yellow8: #94a039;
  --yellow9: #6c7429;
  --lime0: #f0fde9;
  --lime1: #e1fbd1;
  --lime2: #d1f9b8;
  --lime3: #bef79c;
  --lime4: #aaf47c;
  --lime5: #92f257;
  --lime6: #84db4e;
  --lime7: #74c045;
  --lime8: #60a039;
  --lime9: #467429;
  --green0: #ebfded;
  --green1: #d5fbda;
  --green2: #bdf9c4;
  --green3: #a2f7ac;
  --green4: #81f58e;
  --green5: #57f269;
  --green6: #4edb5f;
  --green7: #45c053;
  --green8: #39a045;
  --green9: #297432;
  --teal0: #eafdf6;
  --teal1: #d4fbec;
  --teal2: #bcf9e2;
  --teal3: #a0f7d6;
  --teal4: #7ff5c8;
  --teal5: #57f2b7;
  --teal6: #4edba5;
  --teal7: #45c091;
  --teal8: #39a079;
  --teal9: #297458;
  --cyan0: #e9fbfd;
  --cyan1: #d2f6fb;
  --cyan2: #b9f2f9;
  --cyan3: #9decf7;
  --cyan4: #7de7f4;
  --cyan5: #57e0f2;
  --cyan6: #4ecadb;
  --cyan7: #45b2c0;
  --cyan8: #3994a0;
  --cyan9: #296b74;
  --blue0: #eaf1fd;
  --blue1: #d4e3fb;
  --blue2: #bcd3f9;
  --blue3: #a0c1f7;
  --blue4: #7facf5;
  --blue5: #5792f2;
  --blue6: #4e83da;
  --blue7: #4473bf;
  --blue8: #385f9e;
  --blue9: #284470;
  --indigo0: #eeedfd;
  --indigo1: #ddd9fc;
  --indigo2: #c8c2fa;
  --indigo3: #b1a7f8;
  --indigo4: #9386f5;
  --indigo5: #6957f2;
  --indigo6: #5e4eda;
  --indigo7: #5244be;
  --indigo8: #43389c;
  --indigo9: #2f276e;
  --violet0: #f7ecfd;
  --violet1: #eed8fb;
  --violet2: #e4c1fa;
  --violet3: #d8a6f8;
  --violet4: #ca85f5;
  --violet5: #b757f2;
  --violet6: #a54eda;
  --violet7: #9044bf;
  --violet8: #77389d;
  --violet9: #552870;
  --fuschia0: #fdecfb;
  --fuschia1: #fcd8f7;
  --fuschia2: #fac2f3;
  --fuschia3: #f8a7ee;
  --fuschia4: #f586e8;
  --fuschia5: #f257e0;
  --fuschia6: #da4eca;
  --fuschia7: #bf44b1;
  --fuschia8: #9f3993;
  --fuschia9: #722969;
  --pink0: #fdecf3;
  --pink1: #fcd8e6;
  --pink2: #fac1d7;
  --pink3: #f8a7c6;
  --pink4: #f586b0;
  --pink5: #f25792;
  --pink6: #da4e83;
  --pink7: #bf4473;
  --pink8: #9e395f;
  --pink9: #712844;

  /* theme */
  --primary-color: var(--red5);
  --secondary-color: #ff5f4a;
  --text-color: var(--red3);
  --text-bold-color: #ff5f4a;
  --sidebar-color: var(--red3);
  --sidebar-active-color: var(--red5);
  --bg-color: #101a2d;
  --serif-font: 'Bitter', serif;
  --sans-serif-font: -apple-system, BlinkMacSystemFont, sans-serif;
  --code-font: Nitti, 'Microsoft YaHei', 微软雅黑, monospace;
  --code-color: var(--cyan7);
  --code-border-color: var(--cyan9);
  --code-token-var-color: var(--code-color);
  --code-token-string-color: var(--code-color);;
  --primary-font-size: 18px;
  --secondary-font-size: 16px;
}

::-moz-selection {
  background: #f9e4ac; /* WebKit/Blink Browsers */
}

::selection {
  background: #f9e4ac; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #f9e4ac; /* Gecko Browsers */
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
}

body:not(.ready) {
  overflow: hidden;
}

body:not(.ready) .app-nav,
body:not(.ready) > nav,
body:not(.ready) [data-cloak] {
  display: none;
}

div#app {
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center;
}

div#app:empty::before {
  content: 'Loading...';
}

.emoji {
  height: 19.2px;
  height: 1.2rem;
  vertical-align: middle;
}

.progress {
  background-color: #42b983;
  background-color: var(--primary-color);
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: width 0.2s, opacity 0.4s;
  transition: width 0.2s, opacity 0.4s;
  width: 0;
  z-index: 5;
}

.search .search-keyword,
.search a:hover {
  color: #42b983;
  color: var(--primary-color);
}

.search .search-keyword {
  font-style: normal;
  font-weight: 700;
}

body,
html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  font-family: var(--sans-serif-font);
  font-size: var(--primary-font-size);
  letter-spacing: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

kbd {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}

.task-list-item {
  list-style-type: none;
}

li input[type='checkbox'] {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.app-nav {
  left: 0;
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 2;
}

.app-nav p {
  margin: 0;
}

.app-nav > a {
  margin: 0 16px;
  margin: 0 1rem;
  padding: 5px 0;
}

.app-nav li,
.app-nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.app-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.app-nav a.active,
.app-nav a:hover {
  color: var(--primary-color);
}

.app-nav a.active {
  border-bottom: 2px solid var(--primary-color);
}

.app-nav li {
  display: inline-block;
  margin: 0 1rem;
  padding: 5px 0;
  position: relative;
}

.app-nav li ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  max-height: calc(100vh - 61px);
  overflow-y: scroll;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  top: 100%;
  white-space: nowrap;
}

.app-nav li ul li {
  display: block;
  font-size: var(--secondary-font-size);
  line-height: 1rem;
  margin: 8px var(--secondary-font-size);
  white-space: nowrap;
}

.app-nav li ul a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.app-nav li ul a.active {
  border-bottom: 0;
}

.app-nav li:hover ul {
  display: block;
}

.app-nav.no-badge {
  margin-right: 25px;
}

.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 5;
}

.github-corner svg {
  color: #fff;
  fill: #42b983;
  fill: var(--primary-color);
  height: 80px;
  width: 80px;
}

.github-corner:hover .octo-arm {
  -webkit-animation: a 0.56s ease-in-out;
  animation: a 0.56s ease-in-out;
}

main {
  display: block;
  position: relative;
  height: 100%;
  z-index: 0;
}

.anchor {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.anchor span {
  color: var(--secondary-color);
}

.anchor:hover {
  text-decoration: underline;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  overflow-y: auto;
  padding: 40px 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: -webkit-transform 0.25s ease-out;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  width: 300px;
  z-index: 3;
}

.sidebar > h1 {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--secondary-color);
}

.sidebar > h1 a {
  color: inherit;
  text-decoration: none;
}

.sidebar > h1 .app-nav {
  display: block;
  position: static;
}

.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li > p {
  font-weight: 700;
  margin: 0;
}

.sidebar ul,
.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  border-bottom: none;
  display: block;
}

.sidebar ul li ul {
  padding-left: 20px;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53%, 0.4);
}

.sidebar:hover::-webkit-scrollbar-track {
  background: hsla(0, 0%, 53%, 0.1);
}

.sidebar-toggle {
  background-color: var(--bg-color);
  border: 0;
  outline: none;
  padding: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 30px;
  width: 284px;
  z-index: 4;
  opacity: 1;
}

.sidebar-toggle-button {
  opacity: 1;
  transition: opacity 0.3s;
}

body.close .sidebar-toggle,
.sidebar-toggle-button:hover {
  opacity: 0.6;
}

.sidebar-toggle span {
  background-color: var(--primary-color);
  display: block;
  margin-bottom: 5px;
  width: 24px;
  height: 3px;
}

body.sticky .sidebar,
body.sticky .sidebar-toggle {
  position: fixed;
  cursor: pointer;
}

.content {
  padding-top: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  position: absolute;
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.markdown-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
}

.markdown-section > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
}

.markdown-section > :first-child {
  margin-top: 0 !important;
}

.markdown-section hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}

.markdown-section table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
}

.markdown-section th {
  font-weight: 700;
}

.markdown-section td,
.markdown-section th {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.markdown-section tr {
  border-top: 1px solid #ccc;
}

.markdown-section p.tip,
.markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown-section p.tip {
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}

.markdown-section p.tip code {
  background-color: var(--bg-color);
}

.markdown-section p.tip em {
  color: var(--secondary-color);
}

.markdown-section p.tip::before {
  background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: '!';
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: var(--secondary-font-size);
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  top: var(--secondary-font-size);
}

.markdown-section p.warn {
  background: var(--green2);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
}

body.close .sidebar {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

body.close .sidebar-toggle {
  width: auto;
}

body.close .content {
  left: 0;
}

@media print {
  .app-nav,
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    position: fixed;
  }

  .app-nav {
    margin-top: 16px;
  }

  .app-nav li ul {
    top: 30px;
  }

  main {
    height: auto;
    overflow-x: hidden;
  }

  .sidebar {
    left: -300px;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }

  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }

  .app-nav,
  .github-corner {
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }

  body.close .sidebar-toggle{
    background-color: var(--bg-color);
  }

  .sidebar-toggle {
    top: 0;
    bottom: inherit;
    width: 100%;
  }

  body.close .sidebar {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }

  body.close .sidebar-toggle {
    width: 284px;
  }

  body.close .content {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }

  body.close .app-nav,
  body.close .github-corner {
    display: none;
  }

  .github-corner .octo-arm {
    -webkit-animation: a 0.56s ease-in-out;
    animation: a 0.56s ease-in-out;
  }

  .github-corner:hover .octo-arm {
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes a {
  0%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }

  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes a {
  0%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }

  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

section.cover {
  background: var(--bg-color) !important;
  background-size: 120% 120%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  display: none;
}

section.cover .cover-main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  z-index: 1;
}

.demo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.demo-link {
  text-align: left;
}

section.cover a:not(.demo-link) {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

section.cover a,
section.cover a:hover {
  text-decoration: none;
}

section.cover p:not(.microlink_card__content_description) {
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

section.cover h1 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 300;
  position: relative;
  text-align: center;
}

section.cover h1 a {
  display: block;
}

section.cover h1 span {
  font-weight: bold;
}

section.cover h1 small {
  bottom: -0.4375rem;
  font-size: 1rem;
  position: absolute;
}

section.cover blockquote {
  font-size: 1.5rem;
  text-align: center;
}

section.cover ul {
  line-height: 1.8;
  list-style-type: none;
  margin: 1em auto;
  max-width: 500px;
  padding: 0;
}

section.cover .cover-main > p:last-child a {
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primary-color);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

section.cover .cover-main > p:last-child a:last-child {
  background-color: var(--primary-color);
  color: #fff;
  margin-right: 0;
}

section.cover .cover-main > p:last-child a:last-child:hover {
  color: inherit;
  opacity: 0.8;
}

section.cover .cover-main > p:last-child a:hover {
  color: inherit;
}

section.cover blockquote > p > a {
  border-bottom: 2px solid var(--primary-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

section.cover blockquote > p > a:hover {
  color: var(--primary-color);
}

section.cover.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.cover.has-mask .mask {
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar,
body {
  background-color: var(--bg-color);
}

.sidebar {
  color: #364149;
}

.sidebar li {
  margin: 6px 0 6px 15px;
}

.sidebar ul li a {
  color: var(--sidebar-color);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li ul {
  padding: 0;
}

.sidebar ul li.active > a {
  border-right: 2px solid;
  color: var(--sidebar-active-color);
  font-weight: 600;
}

.app-sub-sidebar li::before {
  content: '-';
  padding-right: 4px;
  float: left;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  font-family: var(--serif-font);
}

.markdown-section h1 a:hover,
.markdown-section h2 a:hover,
.markdown-section h3 a:hover,
.markdown-section h4 a:hover,
.markdown-section h5 a:hover,
.markdown-section h6 a:hover {
  text-decoration: underline;
  opacity: 1;
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
  border: 0;
  transition: none;
}

.markdown-section a[href^="https://travis-ci.org"],
.markdown-section a[href^="https://paypal.me"],
.markdown-section a[href^="https://www.npmjs.org"],
.markdown-section a[href^="https://david-dm.org"]  {
  border: 0;
  transition: none;
}

.markdown-section a[href^="https://travis-ci.org"]:hover,
.markdown-section a[href^="https://paypal.me"]:hover,
.markdown-section a[href^="https://www.npmjs.org"]:hover,
.markdown-section a[href^="https://david-dm.org"]:hover  {
  opacity: 1;
}

.markdown-section strong {
  font-family: var(--sans-serif-font);
  color: var(--text-bold-color);
  font-weight: 600;
}

.markdown-section a {
  color: var(--text-bold-color);
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px dashed #ff5f4a;
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
  opacity:1;
}

.markdown-section a:hover {
  opacity:.5
}

.markdown-section h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.markdown-section h2 {
  font-size: 1.75rem;
  margin-top: 90px;
  margin-bottom: 0;
}

.markdown-section h3 {
  font-size: 1.25rem;
  margin-top: 75px;
  margin-bottom: 0;
}

.markdown-section h4 {
  font-size: 1rem;
  margin-top: 60px;
  margin-bottom: 0;
}

.markdown-section h5 {
  font-size: .85rem;
  margin-top: 45px;
  margin-bottom: 0;
}

.markdown-section figure,
.markdown-section p {
  margin: 1.2em 0;
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
  line-height: 2rem;
  word-spacing: 0.05rem;
}

.markdown-section ol,
.markdown-section ul {
  margin: 2rem 0;
  padding-left: 1.5rem;
}

.markdown-section blockquote {
  border-left: 4px solid var(--primary-color);
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}

.markdown-section iframe {
  margin: 1em 0;
}

.markdown-section em {
  color: #6a6c6f;
}

.markdown-section p code,
.markdown-section li code {
  color: var(--code-token-var-color);
  border: 1px solid var(--code-border-color);
  font-size: var(--secondary-font-size);
  padding: 3px 10px;
  border-radius: 3px;
  white-space: nowrap;
  font-weight: 600;
}

.markdown-section code {
  border-radius: 2px;
  font-size: var(--secondary-font-size);
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}

.markdown-section code,
.markdown-section pre {
  font-family: var(--code-font);
}

.markdown-section pre {
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.5rem;
  margin: 2rem 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #6a6c6f;
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.number {
  color: #c76b29;
}

.token.punctuation {
  color: #525252;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #2973b7;
}

.token.string {
  color: var(--code-token-string-color);
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: #42b983;
  color: var(--primary-color);
}

.token.keyword {
  color: var(--code-token-var-color);
}

.token.atrule,
.token.regex,
.token.statement {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

.markdown-section pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: var(--bg-color);
  border-radius: 2px;
  color: var(--code-color);
  display: block;
  font-family: var(--code-font);
  font-size: var(--secondary-font-size);
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
}

.markdown-section code::after,
.markdown-section code::before {
  letter-spacing: 0.8px;
  letter-spacing: 0.05rem;
}

code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 24px;
  min-height: 1.5rem;
}

pre::after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

body .codecopy .codecopy-btn {
  color: #fff;
  background-image: linear-gradient(-180deg, var(--blue9), #10292d 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  background-position: -1px -1px;
  right: 7px;
}
body .codecopy .codecopy-btn:hover, body .codecopy .codecopy-btn:focus {
  background-image: linear-gradient(-180deg, var(--blue9), #222c36 90%);
  border: 1px solid rgba(27, 31, 35, 0.5);
  background-position: -0.5em;
}
body .codecopy .codecopy-btn:active {
  background: var(--blue9);
  border: 1px solid rgba(27, 31, 35, 0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

body .codecopy .codecopy-btn-icon {
  fill: #fff;
}
